DATABASE_URL="postgresql://postgres:SUA_SENHA_URLENCODED@db.omhrhjrdrdjvwmwdhhuq.supabase.co:5432/postgres?sslmode=require&schema=public"
AUTH_SECRET="cole-uma-string-longa-aqui"
NEXT_PUBLIC_SUPABASE_URL="https://omhrhjrdrdjvwmwdhhuq.supabase.co"
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY="sb_publishable_COLE_AQUI"
